// ------------------ 用户信息容器: 显示在个人中心首页 ------------------
.pv-profile.xhome > .pv-user {
  display: flex;
}

.pv-profile.xhome .xlv2 {
  display: none;
}

// 余额容器
.pv-profile.xhome > .pv-card {
  position: absolute;
  top: 4.5rem;
  right: .5rem;
  left: .5rem;
  border-radius: 5px;
}

// 提现按钮
.pv-profile.xhome .pv-btn.xwithdraw {
  display: inline-block;
}
