// 平台优势
.pv-flex.xbusiness {
  margin: 0 -.35rem;
}

.pv-flex.xbusiness > .pv-flex-item {
  margin: 0 .35rem;
}

// 营销资源容器
.pv-flex.xbgbox {
  height: 6rem;
  font-size: $font-size-medium;
  color: #fff;
}
