/* 导航 */
$nav-height: 2.2rem !default; // 高度
$nav-bg: #fff !default; // 背景色
$nav-border-color: $color-border-main !default; // 边框色
$nav-link-font-size: $font-size-large !default; // 导航链接字号
$nav-link-color: $color-text-main !default; // 导航链接文字颜色
$nav-link-active-color: $color-main !default; // 导航链接选中文本颜色
$nav-active-line-color: $color-main !default; // 选中项标识线颜色

// 导航：容器
.pv-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $nav-bg;
  border-bottom: .5px solid $nav-border-color;
}

// 导航：链接
.pv-nav-link {
  display: inline-block;
  height: $nav-height;
  line-height: $nav-height;
  font-size: $nav-link-font-size;
  color: $nav-link-color;
  vertical-align: top;
}

.xactive > .pv-nav-link {
  color: $nav-link-active-color;
}

// 带分隔线
.pv-nav.xseparator .pv-xsl-item {
  position: relative;
}

.pv-nav.xseparator .pv-xsl-item + .pv-xsl-item:before {
  content: "";
  position: absolute;
  top: .35rem;
  left: 0;
  height: $nav-height - .7;
  border-left: .5px solid $color-border-main;
}

// 导航: 页面有头部时
.pv-nav.xheader {
  top: $header-height;
}

// 导航: tab导航
.pv-nav.xtab {
  position: static;
  text-align: center;
  border-bottom: .5px solid $nav-border-color;
}

.pv-nav.xtab.x2 > .pv-xsl-body > li {
  width: 50%;
}

.pv-nav.xtab.x3 > .pv-xsl-body > li {
  width: 33.33333%;
}
