/* 水平滚动列表 */
$xscroll-list-item-mx: $spacing-tiny !default; // 导航项间距
$line-color: $color-main !default; // 位置标识线颜色

// 容器
.pv-xsl {
  overflow: hidden;
}

// 主体
.pv-xsl-body {
  position: relative;
  min-width: 101%;
  overflow-x: auto;
  font-size: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

// 主体:不显示滚动条
.pv-xsl-body::-webkit-scrollbar {
  display: none;
}

// 列表项
.pv-xsl-item {
  display: inline-block;
  padding: 0 $xscroll-list-item-mx;
  vertical-align: top;
}

// 标识线
.pv-xsl-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: $line-color;
  transition: all $time linear;
}
