/* 卡片 */
$card-bg: #fff !default; // 背景
$card-padding: $spacing-small !default; // 左右内边距
$card-spaceing: $spacing-tiny !default; // 卡片间距

// 卡片: 容器
.pv-card {
  padding: 0 $card-padding;
  background: #fff;
}

// 卡片: 标题
.pv-card-title {
  padding: $card-padding 0;
  border-bottom: .5px solid $color-border-main;
}

// 卡片: 主体
.pv-card-body {
  padding: $card-padding 0;
}

.pv-card + .pv-card {
  margin-top: $card-spaceing;
}

// 卡片: 无背景
.pv-card.xnobg {
  background: none;
}

// 卡片: 带上下内边距
.pv-card.xpy {
  padding-top: $card-padding;
  padding-bottom: $card-padding;
}

// 卡片: 带圆角
.pv-card.xround {
  border-radius: 5px;
}

// 卡片: 带下边框
.pv-card.xborder {
  border: .5px solid $color-border-main;
}

// 卡片: 做为banner容器
.pv-card.xbanner {
  padding: $spacing-tiny;
  text-align: center;
}

.pv-card.xbanner > img {
  max-width: 100%;
}
