// 卡片: 提现动态容器
.pv-card.xwithdraw {
  height: 100%;
  padding-top: .3rem;
  margin: 0 .875rem;
  border: 1px solid #c7c3b2;
  border-radius: 9px;
  box-shadow: 0 8 16 rgba(142, 32, 22, .25);
}

.pv-card.xwithdraw .pv-title {
  margin-bottom: -.2rem;
}
